<div class="start">
    <!-- <span class="play-as-guest">Play as guest</span> -->
    <p class="title-enter-name">Login to account: </p>
    <!--    <span class="email-text">Email: &nbsp;&nbsp; <input type="text" class="emailInput" maxlength="22"></span> -->
    <!--   <span>Password: &nbsp; <input type="password" class="passwordInput" maxlength="18"></span>-->
    <!--  <span class="username d-none">Username: &nbsp; <input type="text" class="usernameInput" maxlength="12"></span>-->

    <div class="login-inputs container-fluid">
          <span class="email-text">Email: &nbsp;&nbsp; <input type="text"
                                                              class="emailInput" maxlength="22"></span>
        <span>Password: &nbsp; <input type="password" class="passwordInput"
                                      maxlength="18"></span>
    </div>
    <!-- <span class="username d-none">Username: &nbsp; <input type="text"
      class="usernameInput" maxlength="12"></span> -->

    <div class="startBtn animate__animated animate__pulse animate__infinite unpressed"></div>

    <span class="login-error d-none">Please try again.</span>

    <div class="container-fluid play-wrapper d-none">
        <div class="row play-container">

            <div class="col-sm-6 text-center">
                <img class="playOfflineBtn" src="/assets/img/GUI-controls/MainControls/SVG/singleplayer.svg" alt="">
                <p>singleplayer</p>
            </div>
            <div class="col-sm-6 text-center">
                <img class="playOnlineBtn" src="/assets/img/GUI-controls/MainControls/SVG/multiplayer.svg" alt="">
                <p>multiplayer</p>
            </div>
        </div>

    </div>
    <span class="online-text-searching">Finding an opponent</span>

</div>