<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Start Game</title>
  <!-- TODO: Add a fav icon here -->

  <%- include('../_partials/commonHeaders.ejs') -%>

    <!-- Page Custom CSS - signup_styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="/assets/css/index_styles.css">
</head>

<body>
  <div class="container">

    <!-- Portrait Mode Overlay -->
    <!-- <div class="flip-overlay">
      <img src="/assets/img/Overlays/flipPhone.svg" alt="flip to phone">
      <span class="portrait">FLIP TO PLAY</span>
    </div> -->

    <div class="logo floating">
      <img src="/assets/img/GUI-controls/MenuStart/Game Title-01.svg" alt="">
    </div>

    <div class="indexWrapper">
      <div class="signup">
        <p class="title-enter-name">Sign up: </p>
        <span class="email-text-signup">Email: &nbsp; <input type="text" class="emailInput" maxlength="22"></span>
        <span>Username: &nbsp; <input type="text" class="usernameInput" maxlength="15"></span>
        <span>Password: &nbsp; <input type="password" class="passwordInput" maxlength="18"></p>

        <button class="sign-up-button animate__animated animate__infinite animate__pulse"></button>

        <br>
        <span class="signup-error-exists d-none">Email already exists.</span>
        <br>
        <span class="signup-error d-none">Please try again.</span>

      </div>
      <p class="index-link">Back to start page</p>
    </div>
  </div>
  <%- include('../_partials/commonJsFooters.ejs') -%>
</body>

</html>