<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Map</title>
    <!-- TODO: Add a fav icon here -->

    <!-- Preload backgrounds -->
    <link rel="preload" href="/assets/img/backgrounds/backgroundSVG-01.svg" as="image">
    <link rel="preload" href="/assets/img/backgrounds/backgroundSVG-02.svg" as="image">
    <link rel="preload" href="/assets/img/backgrounds/night-bg-01.svg" as="image">

    <!-- Page Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/_commons/flip_overlay.css">
    <link rel="stylesheet" href="/assets/css/carousel_styles.css">
</head>

<body>
    <!-- Portrait Mode Overlay -->
    <div class="flip-overlay">
        <img src="/assets/img/Overlays/flipPhone.svg" alt="flip to phone">
        <span class="portrait">FLIP TO PLAY</span>
    </div>

    <div class="back-button">
        Back
    </div>

    <div class="select-done-button animate__animated animate__infinite animate__pulse">
        Select
    </div>

    <div class="hand">
        <img src="/assets/img/backgrounds/SVG/hand.svg" alt="">
    </div>

    <div class="container">
        <div class="card-carousel">
            <div class="card street-background" data-map-name="street">
                <p>Downtown <br>Street</p>
            </div>
            <div class="card playground-background" data-map-name="playground">
                <p>Playground</p>
            </div>
            <div class="card pigeon-nights-background" data-map-name="pigeon-nights">
                <p>Pigeon <br>
                    Nights
                </p>
            </div>
        </div>
        <a href="#" class="visuallyhidden card-controller">Carousel controller</a>
    </div>

    <!-- JavaScript -->
    <script src="/assets/js/libraries/carousel.min.js"></script>
    <!-- App -->
    <%- include('../_partials/commonJsFooters.ejs') -%>

</body>

</html>