<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>505</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/error_styles.css">
</head>

<body>
  <!-- Portrait Mode Overlay -->
  <div class="flip-overlay">
    <img src="/assets/img/Overlays/flipPhone.svg" alt="flip to phone">
    <span class="portrait">FLIP TO PLAY</span>
  </div>

  <div class="background">
    <h1>505</h1>
  </div>
</body>

</html>