<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Start Game</title>
  <!-- TODO: Add a fav icon here -->

  <%- include('_partials/commonHeaders.ejs') -%>

    <!-- Page Custom CSS - game_styles -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="/assets/css/_commons/flip_overlay.css">
    <link rel="stylesheet" href="/assets/css/index_styles.css">
    <link rel="stylesheet" href="/assets/css/ios_toggle.css">
</head>

<body>
  <div class="container">

    <!-- Portrait Mode Overlay -->
    <div class="flip-overlay">
      <img src="/assets/img/Overlays/flipPhone.svg" alt="flip to phone">
      <span class="portrait">FLIP TO PLAY</span>
    </div>

    <div class="logo floating">
      <img src="/assets/img/GUI-controls/MenuStart/Game Title-01.svg" alt="">
    </div>
    
    <div class="indexWrapper">
      <p class="loggedIn-as-guest-title d-none">Logged-in as guest</p>
      <div class="play-mode-toggle-container">
        <span>Play as Guest: &nbsp; </span>
        <div class="toggleWrapper">
          <input type="checkbox" name="toggle1" class="mobileToggle"
            id="toggle1">
          <label for="toggle1" class="toggleLabel"></label>
        </div>
      </div>

      <%- include('auth/login.ejs') -%>
      <p class="sign-up-link"> or Sign up!</p>

      <!-- Loading Clouds -->
      <%- include('_partials/overlays/loadingClouds.ejs') -%>
    </div>

    <%- include('_partials/commonJsFooters.ejs') -%>
</body>

</html>