<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <!-- TODO: Add a fav icon here -->

  <%- include('_partials/commonHeaders.ejs') -%>

    <!-- Page Custom CSS - game_styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="/assets/css/userHome_styles.css">
    <link rel="stylesheet" href="/assets/css/ios_toggle.css">
</head>

<body>

  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 logout text-center d-flex justify-content-end">
        <div>
          <img class="logout-button" src="/assets/img/GUI-controls/MainControls/SVG/logout.svg" alt="">
          <div class="logout-title"> Exit?</div>
        </div>
      </div>

    </div>
  </div> -->

  <!-- Portrait Mode Overlay -->
  <div class="flip-overlay">
    <img src="/assets/img/Overlays/flipPhone.svg" alt="flip to phone">
    <span class="portrait">FLIP TO PLAY</span>
  </div>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-1"></div>
      <div class="col-sm-10  text-center">
        <h1 class="title">Explore Your Tactical Pigeon!</h1>
      </div>
      <div class="col-sm-1">
        <div>
          <img class="logout-button grow" src="/assets/img/GUI-controls/MainControls/SVG/logout.svg" alt="">
          <div class="logout-title d-none"> Exit?</div>
        </div>
      </div>
      <!-- <div class="floating">
        <img src="/assets/img/GUI-controls/MenuStart/Game Title-01.svg" alt="">
      </div> -->
    </div>

    <div class="row play-options">
      <div class="col-sm-1"></div>
      <div class="col-sm-5 text-center">
        <div class="imgContainer">
          <img class="img-fluid playOfflineBtn" src="/assets/img/GUI-controls/MainControls/SVG/singleplayer.svg" alt="">
        </div>
        <p> SINGLE-PLAYER</p>
      </div>
      <div class="col-sm-5 text-center">
        <div class="imgContainer">
          <img class="img-fluid playOnlineBtn" src="/assets/img/GUI-controls/MainControls/SVG/multiplayer.svg" alt="">
        </div>
        <p> MULTIPLAYER</p>
        <span class="online-text-searching">Finding an opponent</span>
      </div>
      <div class="col-sm-1"></div>


    </div>


    <div class="row button-container text-center d-flex justify-content-center">
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
        <div>
          <img class="customizePigeon-button grow img-fluid"
            src="/assets/img/GUI-controls/MainControls/SVG/customizePigeon.svg" alt="">
          <div class="customizePigeon-title button-label">
            Customize Pigeon
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div>
          <img class="map-button grow img-fluid" src="/assets/img/GUI-controls/MainControls/SVG/map.svg" alt="">
          <div class="map-title button-label">
            Change Arena
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div>
          <img class="stats-button grow img-fluid" src="/assets/img/GUI-controls/MainControls/SVG/stats.svg" alt="">
          <div class="stats-title button-label">
            Analyze Gameplay
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>

    </div>

    <!-- Loading Clouds -->
    <%- include('_partials/overlays/loadingClouds.ejs') -%>

  </div>


  <%- include('_partials/commonJsFooters.ejs') -%>
</body>

</html>