/* --------------- General --------------- */
* {
  box-sizing: border-box;
}

body {
  background-image: url("/assets/img/backgrounds/CustomizePigeon-Background.svg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: center; */
  background-size: 100vw;
  margin: 0;
  min-height: 100vh;
  background-color: #bababb;
}
/* /////////////// General ////////////// */



div.container-fluid.big-container {
  overflow: hidden;
  height: 100vh;
}

/* div.container-fluid.move-picker-overlay {
  overflow: visible;
} */

/* --------------- Content Row --------------- */
/* .content-row {
  display: flex;
  align-items: center;
} */

div.top-background {
  height: 46vw;
  padding: 13vw 6vw 0 0;
}

/* --------------- Bottom Row --------------- */
.bottom-background {
  background-image: url("/assets/img/backgrounds/bottom-background-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  display: flex;
  align-items: start;
  justify-content: center;
}

.companyLogo {
  width: 10%;
  padding: 20% 0 0 0;
}

/* fills space that appears when browser width gets too thin*/
/*900px and up) */

@media only screen and (min-width: 900px) {
  .bottom-background {
    opacity: 100;
  }
}

@media only screen and (min-height: 415px) {
  .bottom-background {
    opacity: 100;
  }
}

/* --------------- Nav Buttons --------------- */
div.nav-buttons {
  position: relative;
  left: 2vw;
}

div.nav-buttons div {
  align-items: center;
  margin-bottom: 2vw;
  /* width: 3vw; */
}

div.nav-buttons img {
  cursor: pointer;
  border-radius: 200px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

div.nav-buttons img.disabled {
  filter: brightness(0.7);
}

div.nav-buttons span {
  font-family: "Titan One", cursive;
  color: #407D96;
  margin-top: 0.5vw;
}

@media only screen and (min-width: 900px) {
  div.nav-buttons img {
    width: 3vw;
  }
  div.nav-buttons span {
    font-size: 1vw;
  }
}

@media only screen and (max-height: 900px) {
  div.nav-buttons img {
    width: 5vw;
  }
  div.nav-buttons span {
    font-size: 2vw;
  }
}

/* -------------- Hue Adjuster ---------------- */
div.dial-container .dial-title-background {
  background-color: #CADDE8;
  border-top-left-radius: 110px;  /* 100px of height + 10px of border */
  border-top-right-radius: 110px;
  padding: 10%;
  width: 10vw;
  height: 5vw;
  /* text-align: center; */
  /* width: 10vw;
  height: 5vw; */
}
div.dial-container .dial-title-background span {
  font-family: "Titan One", cursive;
  /*font-size: 2rem;*/
  font-size: 2vw;
  color: #407d96;
  /* -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: white; */
}

div.dial-container .slidecontainer {
  background-color: #fdeda8;
  border-bottom: 10px solid #fcda54;
  border-right: 10px solid #fcda54;
  border-left: 10px solid #fcda54;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  padding-bottom: 35px;
  width: 10vw;
  height: 22vw;
  /* width: 10vw; */


}

.slider-wrapper {
  /* width: 10vw;
  height: 22vw; */
  display: inline-block;
  width: 20px;
  height: 22vw;
  padding: 0;
  text-align: center;
}

#myRange {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: none; /* Chromium */
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
  cursor: pointer;
  position: relative;
  top: 42px;
  text-align: center;
  background-color: transparent;
}

#myRange::-webkit-slider-runnable-track {
  -webkit-appearance: none; /* Override default look */
  background-color: #407D96;
  height: 4px;
  border-radius: 5px;
  margin-top: 7px;
}
#myRange::-moz-range-track { /* Firefox compatible */
  background-color: #407D96;
  height: 4px;
  border-radius: 5px;
  margin-top: 7px;
}
#myRange::-ms-track { /* IE compatible */
  background-color: #407D96;
  height: 4px;
  border-radius: 5px;
  margin-top: 7px;
}

#myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: white;
  border: 4px solid #407D96;
  cursor: pointer;
  margin-top: -16px;
}
#myRange::-moz-range-thumb { /* Firefox compatible */
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: white;
  border: 4px solid #407D96;
  cursor: pointer;
  margin-top: -16px;
}
#myRange::-ms-thumb { /* IE compatible */
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: white;
  border: 4px solid #407D96;
  cursor: pointer;
  margin-top: -16px;
}

@media only screen and (min-width: 900px) {
}

@media only screen and (max-width: 900px) {

}

/* --------------- Pigeon -------------------- */
div.selectedPigeon {
  position: relative;
  top: -4.5vw;
  left: -4vw;
  margin-left: 2.5vw;
  height: 40vw;
  width: 40vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

div.pusiness-pigeon {
  /*margin-bottom: 60px;*/
  /* position: relative;
  top: 0px;
  left: -10px;
  height: 460px;
  width: 100%; */
  background-image: url("/assets/img/pigeons/pusiness_pigeon/right_hand_to_chest.svg");
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}


/* --------------- Type Selector Title -------------- */
div.selector-title-background {
  /* margin-top: 100px; */
  background-color: #CADDE8;
  border-top-left-radius: 10px;  /* 100px of height + 10px of border */
  border-top-right-radius: 10px;
  padding-inline: 10%;
  padding-block: 3%;
  text-align: center;
  width: 20vw;
}

div.selector-title-background span {
  font-family: "Titan One", cursive;
  /*font-size: 2rem;*/
  font-size: 2vw;
  color: #407d96;
  /* -webkit-text-stroke-width: 0.9px;
  -webkit-text-stroke-color: white; */
}

/* ---------------- Pigeons Selection ------------- */

div.type-selector > .type-container {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #fcda54;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* padding-bottom: 7px; */
  height: 22vw;
  padding: 0;
}

div.type-row {
  margin: 1vw 0 1vw 1vw;
}

div.type-background {
  background-color: #fdeda8;
  /* width: 10vw;
  height: 90%; */
  height: 8vw;
  /* width: 8vw; */
  margin-right: 1vw;
  /* opacity: 50%; */
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

div.pigeon-type-option {
  height: 100%;
  width: 100%;
  /* background-color: #fdeda8; */
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.pigeon-type-option.active {
  filter: brightness(0.7);
}

div.pigeon-placeholder {
  height: 70%;
  width: 70%;
  background-image: url("/assets/img/Icons/pigeon-placeholder.svg");
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 25%; */
}

div.pigeon-type-option div.locked {
  height: 30px;
  width: 30px;
  background-image: url("/assets/img/Icons/LockIcon.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 100%; */
}

div.pigeon-type-option > .locked.hidden {
  display: none;
}

/* Custom Scrollbar */
/* width */
div.type-selector > div::-webkit-scrollbar {
  width: 3px;
}

/* Track */
div.type-selector > div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e2c44b;
  border-radius: 10px;
}

/* Handle */
div.type-selector > div::-webkit-scrollbar-thumb {
  background: #487e96 ;
  border-radius: 10px;
}

/* Handle on hover */
div.type-selector > div::-webkit-scrollbar-thumb:hover {
  background: #487e96;
  width: 5px;
}

/* @media only screen and (min-width: 900px) {
  div.type-selector {
    height: 22vw;
  }
}

@media only screen and (max-width: 900px) {
  div.type-selector {
    height: 22vw;
  }
} */


/* --------------- Utils --------------------- */
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.hidden-rendered {
  opacity: 0;
}