/* fills space that appears when browser width gets too thin*/
/*900px and up) */

@media only screen and (min-width: 900px) {
  .bottom-background {
    opacity: 100;
  }
}

@media only screen and (min-height: 415px) {
  .bottom-background {
    opacity: 100;
  }
}

@media only screen and (min-width: 900px) {
  #myRange {
    width: 200px;
    top: 42px;
  }
}

@media only screen and (max-width: 900px) {
  #myRange {
    width: 160px;
    top: 3px;
  }
}

@media only screen and (max-width: 722px) {
  #myRange {
    width: 125px;
    top: -33px;
  }
}

@media only screen and (min-width: 1200px) {
  #myRange {
    /* width: 261px; */
    width: 261px;
    top: 103px;
  }
}

@media only screen and (min-width: 1600px) {
  #myRange {
    /* width: 261px; */
    width: 355px;
    top: 197px;
  }
}