div.pigeon-type-option.hoodie-pigeon {
  background-image: url("/assets/img/pigeons/hoodie_pigeon/right_normal.svg");
}

div.pigeon-type-option.pusiness-pigeon {
  background-image: url("/assets/img/pigeons/pusiness_pigeon/right_normal.svg");
}

div.pigeon-type-option.gentle-pigeon {
  background-image: url("/assets/img/pigeons/gentle_pigeon/right_normal.png");
}

/* ----- Selected Pigeon ----- */
div.selectedPigeon.gentle-pigeon {
  background-image: url("/assets/img/pigeons/gentle_pigeon/right_hand_to_chest.png");
}
div.selectedPigeon.hoodie-pigeon {
  background-image: url("/assets/img/pigeons/hoodie_pigeon/right_hand_to_chest.svg");
}
div.selectedPigeon.pusiness-pigeon {
  background-image: url("/assets/img/pigeons/pusiness_pigeon/right_hand_to_chest.svg");
}