* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #b1d2d1;
  min-height: 100vh;
}

p {
  font-family: "Titan One", cursive;
  color: #4f7c93;
  font-size: 1.5rem;
}

div.indexWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span.online-text-searching.online-text-searching {
  display: none;
  font-family: "Titan One", cursive;
  color: white;
  font-size: 1.7vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #407d96;
  margin: 0.5vw 0 0 0;
}

div.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Loading Clouds no BK Overlay */
div.loading-clouds-noBK-overlay {
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: -60;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/img/Overlays/LoadingCloudsNoBK.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

div.loading-clouds-noBK-overlay div.loading-text {
  width: 30%;
  height: 30%;
  position: fixed;
  z-index: 60;
  font-family: "Titan One", cursive;
  font-size: 4em;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #407d96;
}

/* Play Mode Toggle */

div.play-mode-toggle-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -1vw;
}

div.play-mode-toggle-container span {
  font-family: "Titan One", cursive;
  font-size: 1.7vw;
  color: #5d99a8;
  -webkit-text-stroke-width: 0.05vw;
  -webkit-text-stroke-color: white;
  margin-top: -4px;
  margin-right: 5px;
}

/* Start Menu */

div.start {
  display: flex;
  flex-direction: column;
  width: 35.5vw;
  margin: 1.5vw 0 0 1.2vw;
  align-items: center;
  justify-content: center;
  padding: 1.3vw 1.5vw 1.5vw;
  background-color: #cedce7;
  border-style: inset none inset none;
  border-bottom: 0.4vw #597b91 solid;
  border-radius: 1.6vw;
  border-top: 0.4vw #e1ebf0 solid;
}

div.start span{
  font-size: 1.5vw;
  text-align: center;
  font-family: "Titan One", cursive;
  color:#4f7c93;
  margin-bottom: 0.4vw;
 } 

 p.title-enter-name {
   text-align: center;
   font-size: 2vw;
 }

div.start p.title-enter-name.error-alert {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e8ba1d;
  color: #fff9e5;
}

div.start span.username{
  margin: 0.9vw 0 1.2vw;
}

button.play {
  margin:0;
  padding:0;
  margin-top: 1vw;
  outline:0;
}

div.startBtn {
  /* background-image: url("/assets/img/GUI-controls/MenuStart/Start.svg"); */
  background-image: url("/assets/img/GUI-controls/MenuStart/login.svg"); 
  background-size: contain;
  background-repeat: no-repeat;
  width: 16vw;
  height:5vw;
  border-radius: 1vw;
  margin-top: 0.5vw;
  cursor: pointer;
}

div.startBtn.unpressed {
  background-image: url("/assets/img/GUI-controls/MenuStart/login.svg");
}

div.startBtn.hover {
  background-image: url("/assets/img/GUI-controls/MenuStart/login-pressed.svg"); 
}

 div.startBtn.pressed {
  background-image: url("/assets/img/GUI-controls/MenuStart/login-pressed.svg");
} 

div.playAsGuest.playAsGuest {
  background-image: url("/assets/img/GUI-controls/MenuStart/start.svg");
}

div.playAsGuest.playAsGuest.hover {
  background-image: url("/assets/img/GUI-controls/MenuStart/startPressed.svg");
}

div.playAsGuest.playAsGuest.pressed {
  background-image: url("/assets/img/GUI-controls/MenuStart/startPressed.svg");
}

span.login-error {
  font-family: "Titan One", cursive;
  font-size: 3vw;
  /* -webkit-text-stroke-width: 0.1vw;
  -webkit-text-stroke-color: white; */
}

/* Logo */

div.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1.8vw 3vw 0;
}

div.logo img {
  width:47vw;
}

.floating {
  animation-name: floating;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

div.login {
  display: flex;
  flex-direction: column;
  width: 35.5vw;
  margin: 1.5vw 0 0 1.2vw;
  align-items: center;
  justify-content: center;
  padding: 1.3vw 1.5vw 1.5vw;
  background-color: #cedce7;
  border-style: inset none inset none;
  border-bottom: 0.4vw #597b91 solid;
  border-radius: 1.6vw;
  border-top: 0.4vw #e1ebf0 solid;
}

div.signup {
  display: flex;
  flex-direction: column;
  width: 35.5vw;
  margin: 1.5vw 0 0 1.2vw;
  align-items: center;
  justify-content: center;
  padding: 1.3vw 1.5vw 1.5vw;
  background-color: #cedce7;
  border-style: inset none inset none;
  border-bottom: 0.4vw #597b91 solid;
  border-radius: 1.6vw;
  border-top: 0.4vw #e1ebf0 solid;
  font-size: 1.5vw;
  font-family: "Titan One", cursive;
  color:#4f7c93;
  text-align: center;
}

input.emailInput {
  padding: 0.25vw;
  margin-top: -1vw;
  margin-bottom: 5px;
  border-radius: 0.9vw;
  display: inline-block;
  font-family: "Titan One", cursive;
  color: #4488a3;
  font-size: 1.3vw;
  text-align: center;
  letter-spacing: 1px;
  width: 15vw;
  background-color:rgba(248, 248, 255, 0.548);
  border-color: #407D96;
  border-width: 0.15vw;
}

span.email-text{
  padding-left:3.3vw;
}

span.email-text-signup{
  padding-left:3.8vw;
}

input.usernameInput {
  padding: 0.25vw;
  margin-top: -1vw;
  margin-bottom: 5px;
  border-radius: 0.9vw;
  display: inline-block;
  font-family: "Titan One", cursive;
  color: #4488a3;
  font-size: 1.3vw;
  text-align: center;
  letter-spacing: 1px;
  width: 15vw;
  background-color:rgba(248, 248, 255, 0.548);
  border-color: #407D96;
  border-width: 0.15vw;
}

input.passwordInput {
  padding: 0.25vw;
  margin-top: -1vw;
  margin-bottom: 5px;
  border-radius: 0.9vw;
  display: inline-block;
  font-family: "Titan One", cursive;
  color: #4488a3;
  font-size: 1.3vw;
  text-align: center;
  letter-spacing: 1px;
  width: 15vw;
  background-color:rgba(248, 248, 255, 0.548);
  border-color: #407D96;
  border-width: 0.15vw;
}

div.map-selection-container {
  margin: 2vw 2vw 0 0;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26vw;
  height: 8vw;
}

div.map-selection-label {
  font-family: "Titan One", cursive;
  font-size: 2vw;
  color: #4f7c93;
  -webkit-text-stroke-width: 0.05vw;
  -webkit-text-stroke-color: white;
  margin: 0.5em;
}

div.map-selection-button {
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/backgrounds/SVG/map-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

p.sign-up-link {
  margin-top:1vw;
  align-self: center;
  font-size: 1.3vw;
  color: #4f7c93;
  cursor: pointer;
}

p.sign-up-link:hover{
  text-decoration: underline;
  color: #e1ebf0;
}

p.index-link {
  align-self: center;
  margin-top: 1vw;
  font-size: 1.3vw;
  cursor: pointer;
}

p.index-link:hover{
  text-decoration: underline;
  color: #e1ebf0;
}

button.sign-up-button{
  background-image: url("/assets/img/GUI-controls/MenuStart/signup.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 16vw;
  height:5vw;
  border-radius: 1vw;
  margin-top: 0.5vw;
  cursor: pointer;
}

button.sign-up-button:hover{
  filter: brightness(0.75);
}
.play-container{
  margin: 1vw -2.8vw 0 -0.3vw;
  padding-right:2.3vw;
}

.play-container img{
  height:6.5vw;
  border-radius: 2.7vw;
}

.play-container img:hover{
  transform: scale(1.1); 
  border: 0.2vw solid #5aa4c2;
  outline:0.1vw solid white;
  /* filter:brightness(0.95) */
}

.play-container p{
  padding-left: 1.8vw;
  font-size: 1.5vw;
  color:white;
  -webkit-text-stroke-color: #407D96;
  -webkit-text-stroke-width: 0.05vw;
}